<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tndata.android.compass"
    android:versionCode="12"
    android:versionName="1.11.0">

    <!-- NOTES on Versioning:
    * Prior to release, increment the versionCode. This should be an integer value.
    * versionName should adhere to Semantic Versioning. See http://semver.org/
        * MAJOR version when you make incompatible API changes (or significant UI changes)
        * MINOR version when you add functionality in a backwards-compatible manner, and
        * PATCH version when you make backwards-compatible bug fixes.
    -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="org.tndata.android.compass.permission.C2D_MESSAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".CompassApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name="org.tndata.android.compass.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/LogInTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.OnBoardingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.SettingsActivity"
            android:parentActivityName="org.tndata.android.compass.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.SourcesActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.tndata.android.compass.activity.UserProfileActivity"
            android:parentActivityName="org.tndata.android.compass.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.MainActivity" />
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.ChooseGoalsActivity"
            android:parentActivityName="org.tndata.android.compass.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.MainActivity" />
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.ChooseCategoriesActivity"
            android:parentActivityName="org.tndata.android.compass.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.MainActivity" />
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.GoalTryActivity"
            android:parentActivityName="org.tndata.android.compass.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.MainActivity" />
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.ChooseActionsActivity"
            android:parentActivityName="org.tndata.android.compass.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.MainActivity" />
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.BehaviorActivity"
            android:parentActivityName="org.tndata.android.compass.activity.GoalTryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.GoalTryActivity" />
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.BehaviorProgressActivity"
            android:parentActivityName="org.tndata.android.compass.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.MyPrioritiesActivity"
            android:parentActivityName="org.tndata.android.compass.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.MainActivity"/>
        </activity>

        <activity
            android:name=".activity.ActionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.tndata.android.compass.activity.GoalDetailsActivity"
            android:parentActivityName="org.tndata.android.compass.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.MainActivity"/>
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.TriggerActivity"
            android:parentActivityName="org.tndata.android.compass.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.MainActivity"/>
        </activity>
        <activity
            android:name="org.tndata.android.compass.activity.TourActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PrivacyActivity"
            android:label="@string/activity_my_privacy"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PlaygroundActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SnoozeActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:screenOrientation="portrait" />

        <receiver
            android:name="org.tndata.android.compass.service.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.tndata.android.compass" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.tndata.android.compass.service.GcmIntentService"
            android:exported="false" />

        <service
            android:name="org.tndata.android.compass.service.CompleteActionService" />

        <service android:enabled="true" android:name=".service.SnoozeService" />

        <service android:name="org.tndata.android.compass.service.LogOutService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d6f77229d69c5771af38c2e26799a3d0af7871a2" />
    </application>

</manifest>
