<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tndata.android.compass"
    android:versionCode="25"
    android:versionName="@string/version_name" >

    <!-- NOTES on Versioning:
    * Prior to release, increment the versionCode. This should be an integer value.
    * versionName should adhere to Semantic Versioning. See http://semver.org/
        * MAJOR version when you make incompatible API changes (or significant UI changes)
        * MINOR version when you add functionality in a backwards-compatible manner, and
        * PATCH version when you make backwards-compatible bug fixes.
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="org.tndata.android.compass.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".CompassApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:largeHeap="true" >

        <!-- Maps stuff -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />


        <!-- Fabric stuff -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />

        <activity
            android:name="org.tndata.android.compass.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/LogInTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GoalActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CustomContentManagerActivity"
            android:label="Create goal"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.tndata.android.compass.activity.OnBoardingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.tndata.android.compass.activity.SettingsActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SourcesActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.tndata.android.compass.activity.UserProfileActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.ChooseInterestsActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.MyActivitiesActivity"
            android:label="@string/my_activities_title"
            android:screenOrientation="portrait"
            android:noHistory="true" />

        <activity
            android:name="org.tndata.android.compass.activity.ChooseCategoryActivity"
            android:label="@string/choose_category_title"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name="org.tndata.android.compass.activity.ChooseGoalsActivity"
            android:parentActivityName=".activity.ChooseCategoryActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ChooseCategoryActivity" />
        </activity>

        <activity
            android:name=".activity.ChooseBehaviorsActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.BehaviorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ReviewActionsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyPrioritiesActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>

        <activity
            android:name=".activity.ActionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.tndata.android.compass.activity.TriggerActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>
        </activity>

        <activity
            android:name="org.tndata.android.compass.activity.TourActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PrivacyActivity"
            android:label="@string/activity_my_privacy"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PlaygroundActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SnoozeActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PlacesActivity"
            android:label="Places"
            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.UserProfileActivity" />

        </activity>

        <activity
            android:name=".activity.PlacePickerActivity"
            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.PlacesActivity" />

        </activity>

        <activity
            android:name=".activity.PackageEnrollmentActivity"
            android:label="@string/package_enrollment_consent_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CheckInActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="org.tndata.android.compass.service.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.tndata.android.compass" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="org.tndata.android.compass.service.GcmIntentService"
            android:exported="false" />

        <service android:name=".service.ActionReportService" />

        <service android:enabled="true" android:name=".service.SnoozeService" />

        <service android:name="org.tndata.android.compass.service.LogOutService" />

        <service android:name=".service.LocationNotificationService" />

    </application>
</manifest>
