<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tndata.android.compass"
    android:versionCode="41"
    android:versionName="@string/version_name" >

    <!-- NOTES on Versioning:
    * Prior to release, increment the versionCode. This should be an integer value.
    * versionName should adhere to Semantic Versioning. See http://semver.org/
        * MAJOR version when you make incompatible API changes (or significant UI changes)
        * MINOR version when you add functionality in a backwards-compatible manner, and
        * PATCH version when you make backwards-compatible bug fixes.
    -->


    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="org.tndata.android.compass.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <!-- Application tag -->

    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:name=".CompassApplication"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        android:largeHeap="true" >


        <!-- Maps stuff -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />


        <!-- Fabric stuff -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />


        <!-- Activities -->
        <!-- TODO clean up and arrange -->

        <activity
            android:name=".activity.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/LogInTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.OnBoardingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FeedActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CustomContentActivity"
            android:label="Create goal"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.FeedActivity"
            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeedActivity" />
        </activity>

        <activity
            android:name=".activity.SourcesActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>

        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.UserProfileActivity"
            android:parentActivityName=".activity.FeedActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeedActivity" />
        </activity>

        <activity
            android:name=".activity.MyActivitiesActivity"
            android:label="@string/my_activities_title"
            android:screenOrientation="portrait"
            android:noHistory="true" />

        <activity
            android:name=".activity.ChooseCategoryActivity"
            android:label="@string/choose_category_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ChooseGoalsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GoalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ReviewActionsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ActionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TriggerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PlaygroundActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SnoozeActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PlacesActivity"
            android:label="Places"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PlacePickerActivity"
            android:screenOrientation="portrait" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tndata.android.compass.activity.PlacesActivity" />

        </activity>

        <activity
            android:name=".activity.PackageEnrollmentActivity"
            android:label="@string/package_enrollment_consent_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CheckInActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AwardsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BadgeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BadgeTheme" />

        <activity
            android:name=".activity.MyGoalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RewardActivity"
            android:screenOrientation="portrait" />


        <!-- Broadcast receivers -->

        <receiver
            android:name=".receiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.tndata.android.compass" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.LocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>


        <!-- Services -->

        <service android:name=".service.GcmIntentService" android:exported="false" />

        <service android:name=".service.ActionReportService" />

        <service android:name=".service.LocationNotificationService" />

    </application>
</manifest>
